.places {
  margin: 0;
  padding: calc(92/1024*100%) 0;
}

@media screen and (min-width: 1280px) {
  .places {
    padding: calc(92/1280*100%) 0;
  }
}

@media screen and (max-width: 1023px) and (min-width: 451px) {
  .places {
    padding: calc(88/768*100%) 0 calc(90/768*100%);
  }
}

@media screen and (max-width:451px) {
  .places {
    padding: calc(64/320*100%) 0 calc(66/320*100%);
  }
}