.place {
  margin: 0;
  padding: 0  calc(48/1024*100%) calc(80/1024*100%);
  display: grid;
  grid-template-columns: 1fr fit-content(456px);
  gap: 48px 32px;
  grid-template-areas:
  "title website"
  "image text";    
}

.place:nth-last-of-type(1) {
  padding-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .place {
  grid-template-columns: 1fr fit-content(484px);
  padding-right: calc(148/1280*100%);
  padding-left: calc(148/1280*100%);
  column-gap: 40px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .place {
    grid-template-columns: 1fr fit-content(352px);
    padding-right: calc(24/768*100%);
    padding-left: calc(24/768*100%);
    padding-bottom: 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) and (min-width: 451px) {
  .place {
    grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
  .place {
    grid-template-areas:
    "title"
    "website"
    "image" 
    "text";
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 0;
    padding-bottom: calc(50/320*100%);
  }
}